/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/green_bg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
    z-index: 99;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #fff;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__type, .add__month, .add__year {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__month, .add__year {
    width: 130px;
    font-family: inherit;
    font-size: 14px;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus,
.add__month:focus, 
.add__year:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.main_app_container {
    width: 1000px;
    margin: 60px auto;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }

/* LOGIN CLASSES */
.overlay {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 101;
}

.login__box{
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    /* Przesuwa  div.wrapper o 50% w lewo i 50% do góry */
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* 0px poziomo, 10px pionowo w dół, 50px rozmycia, i kolor czarny */
    overflow: visible;
    text-align: left;
    z-index: 105;
    display: none;
    border-radius: 5px;
    padding-top: 10px;
    border-bottom: 6px solid #28B7B3;
    border-top: 6px solid #28B7B3;
}

.login__box .form-group {
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.login__buttons {
    margin: 10px auto;
    text-align: center;
}

.login__buttons button {
    margin: 0px 5px 0px 15px;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

#showHidePassID{
	width: 20%;
	border-radius: 0 4px 4px 0;
	height: 37px;
	padding: 0;
	margin: 0;
	margin-left: -1px;
	background-color: white;
	border-width: 2px 2px 2px 0;
	border-color: lightgray;
	border-style: solid;
	outline: none;
}

#showHidePassID:focus, #password:focus {
    border: 1px solid lightblue;
}

.login__box input {
    width: 40px;
    padding: 10px;
}

.login__btn, .signup__btn, .signup__final__btn, .goback__btn {
    background: #28B7B3;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.login__btn:hover, .signup__btn:hover, .signup__final__btn:hover, .goback__btn:hover {
    background: #104947;
}


/* SIGN UP CLASSES */

.signup__box{
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    /* Przesuwa  div.wrapper o 50% w lewo i 50% do góry */
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* 0px poziomo, 10px pionowo w dół, 50px rozmycia, i kolor czarny */
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: visible;
    text-align: left;
    z-index: 107;
    display: none;
    border-radius: 5px;
    padding-top: 10px;
    border-bottom: 6px solid #28B7B3;
    border-top: 6px solid #28B7B3;
}

.signup__box .form-group {
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.signup__buttons {
    margin: 10px auto;
    text-align: center;
}

.signup__buttons button {
    margin: 10px 5px 5px 14px;
    cursor: pointer;
}

.signup__box h3, .login__box h3 {
    text-align: center;
    padding: 5px;
}

/* MESSAGE BOX */
.message-box {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: none;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    z-index: 1001;
}

/* PASS STRENGTH */
.pass_str {
    width: 1px;
    height: 10px;
    display: block;
    transition: ease-in-out 0.4s;
}

/* OPTIONS  */

.options {
    position: absolute;
    top: 10px;
    right: 10px;
}

.options .fa-cog {
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.25s;
    position: relative;
    right: -130px;
}

.options .fa-cog:active {
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari 3-8 */
    transform: rotate(-40deg);
}

.options-options {
    background: white;
    height: 140px;
    width: 170px;
    border-radius: 4px;
    position: relative;
    right: 34px;
}

.button-logout-div {
    padding-top: 113px;
}

.button-logout-div button {
    border-radius: 0px;
    cursor: pointer;
}


/* MEDIA QUERIES */

.budget__income, .budget__expenses {
    transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 480px) {

    .item {
        width: 73%;
    }

    .add__description {
        width: 73%;
    }

    .budget__income, .budget__expenses {
        width: 73%;
        margin: auto;

    }

    .item__description {
        padding-bottom: 6px;
    }

}

@media only screen and (max-width: 320px) {
 
    .item {
        width: 59%;
    }

    .add__description {
        width: 59%;
    }

    .budget__income, .budget__expenses {
        width: 59%;
        margin: auto;
    }

    .item__description {
        padding-bottom: 6px;
    }

}

@media only screen and (max-width: 800px) {
    .expenses {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 800px) {
    .expenses {
        width: 45%;
    }

    .income {
        width: 45%;
    }

}